*.DS_Store
/nbproject/
/composer.phar
public/webtools.php
public/webtools.config.php
public/img/
public/temp/
public/files/
logs/
tmp/
/.idea/
/.phalcon/
*.wx*
apps/core/config/config.php
apps/dashboard/config/config.php
